
body, html {
   
   background-image: url(Captura.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center
}

h1{
    color: white;
    text-align: center;
}

h2{
    color: white;
    text-align: center;
}

input{
    margin-bottom: 0px;
    padding: 0px;
    font-size: 16px;
    border-radius: 5px;
    border:1px solid darkgray;
}



.form__titulo{
    background: #e4ede4;
    color: #0b610f;
    padding: 20px;
    text-align: center;
    font-weight: 100;
    font-size: 30px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 5px solid crimson;
    border: #26bf2e;
     line-height:0;
}



  table{
    border: 0px solid ;
    background-color: #0b610f;
  }
  input[type=USUARIO], input[type=PASSWORD]{
    width: 100%;
    padding: 9px,20px;
    border: 2px solid #ccc;
    box-sizing: border-box;
  }
  img{
    width: 150PX;
    height: 150PX;
  }
  label{
    font-size: 15px;
    font-weight: bold;
    font-family: time new roman;
     border: 5px solid #ECF6CE;
  }

  input[type=submit]{
    background-color:#e4ede4;
    color: black;
    padding: 5px 10px;
    margin: 5px 2px;
    border: 2px solid #ccc;
    cursor: pointer;
    

    width : 400px;
  margin: 0;

  -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
     -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
          box-sizing: border-box;
}

  }

  
button{

   background-color: #40df01;
   position: right;
    color: black;
    padding: 5px 10px;
    margin: 5px 2px;
    border: 2px solid #ccc;
    cursor: pointer;
    width: 10%

       }

       table{
        background-color:   #ffffff;
    color: black;
    padding: 10px 10px;
    margin: 50px 50px;
    border: 5px;
    cursor: pointer;
    width: 50%


       }
label{
 
 background-color:#ffffff;
   color: black;
    border: 0px solid #ECF6CE;
   

}


